/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2022, 3:38:21 PM
    Author     : HL2020
*/
#output1 {
    
    object-fit: contain;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
   
    z-index: 0;
}
