<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>controller.admin.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateSettingController</servlet-name>
        <servlet-class>controller.admin.ActivateSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSettingController</servlet-name>
        <servlet-class>controller.admin.SearchSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailAdd</servlet-name>
        <servlet-class>controller.admin.SettingDetailAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailEdit</servlet-name>
        <servlet-class>controller.admin.SettingDetailEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.login.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.login.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.homepage.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BLogListController</servlet-name>
        <servlet-class>controller.homepage.BLogListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/settingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailAdd</servlet-name>
        <url-pattern>/addnewSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailEdit</servlet-name>
        <url-pattern>/settingEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSettingController</servlet-name>
        <url-pattern>/searchSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateSettingController</servlet-name>
        <url-pattern>/activateSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BLogListController</servlet-name>
        <url-pattern>/bloglist</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
