<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Author</filter-name>
        <filter-class>controller.filter.Author</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Author</filter-name>
        <servlet-name>RegisterController</servlet-name>
        <servlet-name>DashboardController</servlet-name>
        <servlet-name>SliderController</servlet-name>
        <servlet-name>BlogController</servlet-name>
        <servlet-name>AddProductController</servlet-name>
        <servlet-name>CustomerController</servlet-name>
        <servlet-name>EditProductController</servlet-name>
        <servlet-name>FeedbacksController</servlet-name>
        <servlet-name>OrderController</servlet-name>
        <servlet-name>ProductsController</servlet-name>
        <servlet-name>ProductListController</servlet-name>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-name>UserController</servlet-name>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/setting/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>controller.admin.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateSettingController</servlet-name>
        <servlet-class>controller.admin.ActivateSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSettingController</servlet-name>
        <servlet-class>controller.admin.SearchSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.login.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.user.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.user.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.admin.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewUserController</servlet-name>
        <servlet-class>controller.admin.AddNewUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>controller.admin.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>controller.admin.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.user.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.manager.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>controller.manager.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>controller.manager.ProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.user.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassController</servlet-name>
        <servlet-class>controller.user.ResetPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailController</servlet-name>
        <servlet-class>controller.user.SendMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.user.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/settingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSettingController</servlet-name>
        <url-pattern>/searchSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateSettingController</servlet-name>
        <url-pattern>/activateSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUserController</servlet-name>
        <url-pattern>/addNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/searchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/proAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/proEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/proEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassController</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailController</servlet-name>
        <url-pattern>/sendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cartContact</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
